# This is a profile README repo. Exclude it from language stats.
*.md linguist-documentation
*.json linguist-generated
*.svg linguist-generated
*.png linguist-generated
*.jpg linguist-generated
*.jpeg linguist-generated
/assets/* linguist-documentation
